<div fxLayout fxLayoutAlign="center start">
  <mat-card fxLayout="column" style="max-width:1000px;">
    <mat-card-title fxLayout="column" fxLayoutAlign="center center">
      <span class="" >Hunter Rancourt</span>
      <span class="" >Software Engineer</span>
    </mat-card-title>
    <mat-card-content fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div fxFlex="50" fxLayout.gt-sm="column"  fxLayout="row" fxLayoutAlign="center center">
        <img fxFill src="assets/me2.jpg">
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
        <p> 
          I'm a Fullstack Software Developer. With a high aptitude and drive to learn new technologies. The more technologies I learn
          and the more projects I work on. The more I have continued to deepen my love of software engineering. It's almost addictive
          for me. I can finally say that I have a skill I would love to use at work everyday.
          <br/>
          <br/> I decided to learn software development because I wanted to help improve the world that I live in. I want to help people,
          clean up the environment, and improve quality of life in general. I believe software engineering is one way for me to make
          a positive impact on a large scale and improve many peoples lives.
          <br/>
          <br/>I'm currently seeking and eager to start new opportunities. Please feel free to contact me.
          <br/>
          <br/>- Hunter
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
    <mat-card-footer>
      <app-footer></app-footer>
    </mat-card-footer>
  </mat-card>
</div>